body { //this fixes the modal overlay for IE
	height:100%;
	margin:0;
	padding:0;
	font-family: helvetica;
	background: #e3f2fd; //fallback
	background-attachment: fixed;
}

h1
{
	font-family: calibri;
	text-align: center;
	color: #000000;
}

h3
{
	font-size: 24px;
}

#suggestionBox h4
{
	font-size: 18px;
	text-decoration: underline;	
}


#activeXEnablePromptOverlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 1);
	overflow:hidden;
}

#modalOverlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.75);
	overflow:hidden;
}

.modalBox
{
	position: absolute;

	color: #039be5;
	padding: 10px;
	
	left: 33%;
	top: 120px;
	text-align: center;
	
	width: 33%;
	max-height: 500px;
	overflow: auto;
	z-index: 999;

	background-color: white;

	border-radius: 25px;
	border: 2px solid #90caf9;

	box-shadow: 0px 0px 50px #AAAAAA;
}
#mobilityDescription{
	font-style: italic;
}

.questionboxes
{
	text-align: center;
}


.question
{
	font-family: calibri;
	display: inline-block;
	position: relative;
	font-size: 24px;
	margin: 10px;
	padding: 20px;
	width: 40%;
	height: 300px;
	
	background-color: white;

	border-radius: 5px;
	border: 2px solid #bbdefb;
	
	overflow: auto;
	
	clear:both;

	cursor: pointer;
}


.subquestion
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.question:hover
{
	color: #039be5; //fallback
	color: var(--c_question_hover);
}

.highlightQuestion
{
  -webkit-animation: highlightAnimation 0.5s;
  animation: highlightAnimation 0.5s;
}
@keyframes highlightAnimation
{
	from{
		background-color: #a5d6a7; //fallback
		background-color: var(--c_highlight)}
	to{background-color: white}
}
.nextQuestionButton
{
	position:relative;
	bottom: -150px;
}



.cant_select{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.fancy_scroller ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
 }
.fancy_scroller ::-webkit-scrollbar-corner {
    background-color: transparent;
 }
.fancy_scroller ::-webkit-scrollbar {
    width: 14px;
    height: 18px;
 }
.fancy_scroller ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
 }
 
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}