html{
	--c_highlight: #a5d6a7;
	--c_question_hover: #039be5;
	
	--c_mobility_primary: #e3f2fd;
	--c_mobility_secondary: #bbdefb;
	
	--c_mental_health_primary: #c8e6c9;
	--c_mental_health_secondary: #a5d6a7;
	
	--c_readme_primary: #e6ee9c;
	--c_readme_secondary: #d4e157;
}